<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cherry Brown</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.cohs.controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceController</display-name>
    <servlet-name>ServiceController</servlet-name>
    <servlet-class>com.cohs.controller.ServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/ServiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllPendingBillController</display-name>
    <servlet-name>getAllPendingBillController</servlet-name>
    <servlet-class>com.cohs.controller.getAllPendingBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllPendingBillController</servlet-name>
    <url-pattern>/getAllPendingBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingBillController</display-name>
    <servlet-name>GetPendingBillController</servlet-name>
    <servlet-class>com.cohs.controller.GetPendingBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingBillController</servlet-name>
    <url-pattern>/GetPendingBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPendingBillController</display-name>
    <servlet-name>GetAllPendingBillController</servlet-name>
    <servlet-class>com.cohs.controller.GetAllPendingBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPendingBillController</servlet-name>
    <url-pattern>/GetAllPendingBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeDetailController</display-name>
    <servlet-name>SeeDetailController</servlet-name>
    <servlet-class>com.cohs.controller.SeeDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeDetailController</servlet-name>
    <url-pattern>/SeeDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateBillController</display-name>
    <servlet-name>GenerateBillController</servlet-name>
    <servlet-class>com.cohs.controller.GenerateBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateBillController</servlet-name>
    <url-pattern>/GenerateBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneartedBillViewUpdateDeleteController</display-name>
    <servlet-name>GeneartedBillViewUpdateDeleteController</servlet-name>
    <servlet-class>com.cohs.controller.GeneartedBillViewUpdateDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneartedBillViewUpdateDeleteController</servlet-name>
    <url-pattern>/GeneartedBillViewUpdateDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllBill</display-name>
    <servlet-name>ViewAllBill</servlet-name>
    <servlet-class>com.cohs.controller.ViewAllBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllBill</servlet-name>
    <url-pattern>/ViewAllBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBillController</display-name>
    <servlet-name>DeleteBillController</servlet-name>
    <servlet-class>com.cohs.controller.DeleteBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBillController</servlet-name>
    <url-pattern>/DeleteBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewBill</display-name>
    <servlet-name>CustomerViewBill</servlet-name>
    <servlet-class>com.cohs.controller.CustomerViewBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewBill</servlet-name>
    <url-pattern>/CustomerViewBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRoomBookingDetails</display-name>
    <servlet-name>GetAllRoomBookingDetails</servlet-name>
    <servlet-class>com.cohs.controller.GetAllRoomBookingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRoomBookingDetails</servlet-name>
    <url-pattern>/GetAllRoomBookingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookService</display-name>
    <servlet-name>BookService</servlet-name>
    <servlet-class>com.cohs.controller.BookService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookService</servlet-name>
    <url-pattern>/BookService</url-pattern>
  </servlet-mapping>
</web-app>